.header_component {
  .top-header {
    svg {
      color: $primary;
    }
  }
  .middle-header {
    .branding {
      width: 5rem;
      height: 2rem;
    }
    .icon-list {
      li {
        font-size: 1rem;
        text-align: center;
      }
    }
  }
}
